body {
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
  }
  
  .nav-bar {
    background-color: rgb(15, 15, 68);
    color: whitesmoke;
    cursor: pointer;
  }

  .nav-bar ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 0px;
  }
  
  .nav-bar ul li {
    padding: 16px;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid black;
    transition: background-color 0.2s;
  }
  
  .nav-bar ul li:hover {
    background-color: whitesmoke;
    color: black;
  }
  
  
  .image{
    background-image:url('images/b1.png');
    background-color:black;
    background-position: center center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  
  .description{
    max-width: 1020px;
    margin: 0px auto;
    padding: 0px 16px;
  }
  
  .image-text {
    text-align: center;
    color: whitesmoke;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .introduction {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .service1 {
    text-align: center;
    margin-bottom: 32px;
  }

  .service1 img{
      width: 400px;
      border-radius: 50%;
      box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);
      height: 400px;
  }

  .service1 img:hover{
       cursor: pointer;
       margin-left: 10px;

   }
  
  .service1 p {
    padding: 0px 16px;
    font-size: 1.5rem;
    color: gray;
  }


  .contact ::placeholder{
    padding: 20px;
  }

  #tele{
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .contact a{
    text-decoration: none;
 
}
  
input{
  display: block;
}

.contact{
  display: flex;
  align-content: center;
  justify-content: center;

}

#username{
  margin-top: 5px;
  margin-bottom: 40px;
  margin-left: 50px;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
}

#tele{
  margin-top: 5px;
  margin-bottom: 40px;
  margin-left: 50px;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
}


#submit{
  margin-top: 5px;
  margin-bottom: 40px;
  margin-left: 100px;
  background-color: red;
  color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.services{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact{
  background-color: whitesmoke;
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);
  margin: 20px;
}

  @media screen and (min-width: 700px) {
    .nav ul {
      text-align: right;
    }
  
    .nav-bar ul li {
      display: inline-block;
      border-bottom: 0px;
      border-left: 1px solid black;
      text-align: left;
    }
  
  }
  
  